<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569828839948-s97prc8dbr5ocm2ns48qq6mq8249jd8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569828839948-s97prc8dbr5ocm2ns48qq6mq8249jd8o</string>
	<key>API_KEY</key>
	<string>AIzaSyBheLYozP1virNWuIzyXW0Twtgrms2G_vg</string>
	<key>GCM_SENDER_ID</key>
	<string>569828839948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DaterReactNative</string>
	<key>PROJECT_ID</key>
	<string>dater3-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dater3-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569828839948:ios:327adbfb0b5f515d</string>
	<key>DATABASE_URL</key>
	<string>https://dater3-dev.firebaseio.com</string>
</dict>
</plist>